<div class="container">
		<br class="clear"/>
		<br />
        	<h1>Welcome! Greate to meet you.</h1>
		<br />
			<p>
				<i>I am a Systems Thinker &amp aspiring Web Developer</i>
			</p>
			<br />
        	<p>
				Ruby on Rails Apprentice. Extremely talented strategist. Effective multilingual international professional. Skilled and effective problem solver. Failed, but not a deterred statrtup entrepreneur. Lives for a good challenge. 
			</p>
</div>