.clear {
    clear: both;
}

body {
    border-top: #f84899;
    background: url('tunnel_vision.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.container h1 {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 100;
    font-size: 60px;
    margin: 0px;
    text-align: center;
}

.title {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 100;
    font-size: 20px;
    padding-left: 20px;
}

.comments {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px; 
}

p {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
    text-align: center;
}

blockquote {
    position: relative;
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 100;
    margin-top: 10px;
}
 
.navbar-inner {
    color: white;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
} 

.jumbotron {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.my_name {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 100;
    font-size: 30;
}

.image_rotation {
    position: relative;
    border-radius: 100%;
    width: 140px;
    height: 180px;
    margin: 5px 5px;
    padding-top: 40px;
    image-align: center;
    cursor: pointer;
    transform:rotate(-11deg);
    -ms-transform:rotate(-11deg);
    -webkit-transform:rotate(-11deg);
}