body {
    border-top: #f84899;
    background: url('tunnel_vision.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

h1 {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 100;
    font-size: 60px;
    margin: 0px;
}

p {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
}
   
.navbar-default {
    background-color: #E0E0E0;
    border-color: #E7E7E7;
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 30px;
}   

.navbar-brand {
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 32px;
    color: #E7E7E7;
}

.box {
    background-color: rgba(0,0,0,0.4);
    padding:20px;
    width: 1000px;
    margin: 100px;
    text-align: center; 
}

.my_name {
    color: white;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 400;
}

.about_title {
    position: relative;
    font-weight:bold;
    font-style: italic;
    font-size: 30px;
    width: 140px;
    transform:rotate(-11deg);
    -ms-transform:rotate(-11deg);
    -webkit-transform:rotate(-11deg);
}

.image_rotation {
    position: relative;
    border-radius: 100%;
    width: 140px;
    height: 180px;
    margin: 5px 5px;
    image-align: center;
    cursor: pointer;
    transform:rotate(-11deg);
    -ms-transform:rotate(-11deg);
    -webkit-transform:rotate(-11deg);
}

.navbar-footer {
    background: url('github.png', 'linkedin.png');
}